body {
  background-color: #F2F0F0;
}

#contact-header {
  width: 100vw;
  background: #572814;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;

}

#contact-container #contact-header img {
  width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px 20px;
  gap: 10px;
}

.contact-form h3 {
  font-family: 'Inter';
  font-weight: 200;
  font-size: 30px;
  color: #000;
  margin: 10px 0px 20px;
}

.contact-form label {
  font-family: 'Inter';
  font-size: 15px;
}

.contact-form input, textarea {
  width: 90%;
  border: none;
  background: #D9D9D9;
  padding: 5px 8px;
  outline: none;
  font-family: 'Inter';
  resize: none;
}

.social-medias-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px 20px;
  gap: 10px;
}

.social-media-item{
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media-item img{
  width: 50px;
}

.social-media-item p{
  font-family: 'Inter';
  font-weight: 200;
}


@media screen and (min-width:1024px) {
  .form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .contact-form input, textarea {
    width: 600px;
  }

}