#slogan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 50vh;
  background-color: #572814;
  background-image: url('/assets/wallpapers/textures.png');
  background-size: cover;
  background-repeat: no-repeat;
  gap: 12px;
  padding: 20px;
}

#slogan-container img {
  width: 200px;
  display: none;
}

.slogan-flex {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#slogan-container .slogan-title {

  font-size: 30px;
  text-align: center;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Poppins';
  color: #572814;
}

.whatsapp-span {
  font-family: 'CooperHewitt';
  font-size: 14px;
  background: #6B4E3C;
  border-radius: 20px;
  padding: 10px;
  text-align: center;

  color: #fff;
}

.whatsapp-span strong {
  color: #C3922E;
}


#cards-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 10px;
}

.card-item img {
  width: 30px;
  height: 30px;
}

.card-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: 'Inter';
  font-weight: 200;
  gap: 10px;
}

.card-item p {
  font-size: 12px;
}

.card-item span {
  color: #8e8d8d;
  font-size: 12px;
}

.about-us {
  background: #272123;

  display: flex;
  padding: 25px;
  width: 90%;
  margin: 20px auto;
}



.about-us-p {
  color: #969696;
  font-size: 13px;
  text-align: justify;
  font-family: 'Inter';
  font-weight: 200;
  line-height: 1.5;
}

@media screen and (min-width:1024px) {

  #cards-container {
    padding: 30px;
  }
  
  .card-item img {
    width: 50px;
    height: 50px;
  }
  
  .card-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Inter';
    font-weight: 200;
    gap: 10px;
  }
  
  .card-item p {
    font-size: 15px;
  }
  
  .card-item span {
    font-size: 14px;
  }

  #slogan-container {
    gap: 10%;
  }
  #slogan-container img {
    width: 400px;
    display: flex;
  }


  #slogan-container .slogan-title {
    font-size: 50px;
  }

  .about-us {
    background-image: url('/assets/wallpapers/brigadeiros-home.png');
    background-position: center left;
    background-repeat: no-repeat;
   
    display: flex;
    justify-content: right;
  }

  .about-us-p{
    text-align: left;
    font-size: 16px;
    width: 60%;
  }
  
}